.bg-cont {
  font-family: 'Roboto';
  color: #ffffff;
  padding: 25px;
}

.cont-2 {
  margin-left: 15px;
  margin-right: 15px;
  height: 350px;
  overflow: auto;
  border: solid #94a3b8 1px;
  border-radius: 15px;
  padding: 10px;
  list-style-type: none;
}

.visited-list-cont {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}

.para-1 {
  text-align: center;
  padding-top: 30px;
}
